@model WeatherStation.Models.WeatherViewModel

<!doctype html>
<html class="no-js" lang="en_US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Weather</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body class="weather @Model.DayOrNight @Model.Icon">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        

        <div id="weather-container" class="container">
            
            <div class="current_time info-primary" id="current_time">@Model.CurrentTime</div>
            <div class="current_date info-secondary" id="current_date">@Model.CurrentDate</div>

            <div class="current_conditions">
                <i class="icon" id="conditions_icon"></i>
                <div class="current_conditions__description info-secondary" id="conditions_desc">@Model.ConditionsDesc</div>
            </div>
            <div class="current_temp info-primary">
                <div id="temperature" class="current_temp__actual">@Model.Temperature <span class="subtext">&#8457;</span></div> 
                <div id="feelsLike" class="current_temp__feelslike">@Model.FeelsLike <span class="subtext">&#8457;</span></div>
            </div>
            <p class="current_temp__feelslike">feels like</p>
            @* <div id="test-temp" class="test-temp"><span id="test-temp-actual" class="actual">actual</span><span id="test-temp-feelslike" class="feelslike">feels like</span></div> *@

        </div>

        <script src="js/scripts.js"></script>

        <script>

            (function($, moment) {
                

                var apiUrl = '/api/weather', 
                    dom = {
                        body           : document.body,
                        temperature    : document.getElementById("temperature"),
                        currentTime    : document.getElementById("current_time"),
                        currentDate    : document.getElementById("current_date"),
                        conditionsDesc : document.getElementById("conditions_desc"),
                        conditionsIcon : document.getElementById("conditions_icon"),
                        containerId    : "weather-container",
                        feelsLike      : document.getElementById("feelsLike")
                    };
                
                var api = new ws.api(apiUrl);
                @* var api = new ws.apiMock(); *@

                ws.load($, dom, api);
                $("#weather-container").fadeIn();

            })(jQuery, moment);

        </script>
    </body>
</html>